html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/imagenes/HB1.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.abajo {
  position: absolute;
  top: 327%;
  left: 54%;
  transform: translate(-17%, -50%);

}

.HBimg {
  position: absolute;
  top: 166%;
  left: 62%;
  transform: translate(-50%, -50%);
}



.HB{
  position: relative;
  top: -45%;
}

.HL{
  position: relative;
  top: -57%;
  left: 12%;
}

.abajo img {
  width: 90%;
}

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}